.center-container {
  display: grid;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.row {  
  margin: 5px 0;  
  width: 250px;  
  text-align: center;  
}

.row button {
    width: 50px;
    height: 50px;
    font-size: 15px;
    margin: 5px;
    border-radius: 5px;    
    border: 1px solid #ccc;
}

.card {
  padding: 1em;
  font-weight: bold;
  background-color: #ccc;
  margin: 10px 0;
  height: 25px;
  color: black;  
}